[user]
	name = Eugene Davydov
	#email = e.davydov@lipt-soft.ru
	email = davydes@gmail.com
[push]
	default = matching
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
[core]
	excludesfile = ~/.gitignore
