[user]
	name = Eugene Davydov
	email = davydes@gmail.com
[push]
	default = matching
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
[core]
	excludesfile = ~/.gitignore
[http "https://git.flynn.host04.molinos.ru"]
	sslCAInfo = /home/des/.flynn/ca-certs/default.pem
[credential "https://git.flynn.host04.molinos.ru"]
	helper = /home/des/bin/flynn git-credentials
