[user]
	email = davydes@gmail.com
	name = davydes
[push]
	default = matching

[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
[core]
	excludesfile = ~/.gitignore
[http "https://git.flynn.molinos.ru"]
	sslCAInfo = /home/developer3/.flynn/ca-certs/default.pem
[credential "https://git.flynn.molinos.ru"]
	helper = /home/developer3/bin/flynn git-credentials
